
  
  .bar1,
  .bar2,
  .bar3 {
    width: 28px;
    height: 3px;
    background-color: red;
    margin: 6px 0;
    transition: 0.4s;
    @media screen and (min-width: 768px) {
      height: 4px;
      width: 35px;
    }
  }
  
  .change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
    background-color: #00e63d;
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    background-color: #00e63d;
    transform: translate(0, -11px) rotate(45deg);
  }
  